/*CSS STYLE*/

h4, input {
	display: inline;
}

img {
	height: 40px;
	width: 40px;
	float: right;
}

header > .navbar {
	margin-bottom: 0px;
	padding: 10px 0 5px 0; 
}

footer {
	padding-top: 10px;
	margin: 0px 80px;
}

section > div > div >.col-lg-2, section > div > div >.col-lg-8 {
	border: 1px solid gray;
}
section > div > div >.userpane {
	padding-left: 30px;
}
.col-lg-5 {
	padding-top: 10px;
	padding-left: 5px;
}
.note{
	
	background-color: limegreen;
	height: 180px;
	width: 200px;
	margin-left: 12px;
}

/*Calendar*/
* {box-sizing:border-box;}
body {font-family: Verdana,sans-serif;}

.month {
    padding: 10px 5px;
    width: 100%;
    background: #1abc9c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style: none;
}

.month .prev {
    float: left;
    padding-top: 10px;
 
}

.month .next {
    float: right;
    padding-top: 10px;
    
}

.weekdays {
    margin: 0;
    padding: 5px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

.days {
    padding: 5px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/*Calendar*/



/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
